/**
 * GRIDS
 *
 * Helper class to display items feed in grids.
 * Apply the class to the container of the griddable elements (like cards). Direct
 * descendants will be gridded.
 */

/* ------------------------------------ *\
   #GRIDS
\* ------------------------------------ */
/* 4 */
.n7-grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: $grid-gutter-h;
    grid-row-gap: $grid-gutter-v;
}

/* 3 */
.n7-grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: $grid-gutter-h;
    grid-row-gap: $grid-gutter-v;
}

/* 2 */
.n7-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: $grid-gutter-h;
    grid-row-gap: $grid-gutter-v;
}


/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (max-width: $breakpoint-laptop) {
}

@media all and (max-width: $breakpoint-ipad-portrait) {

    /* 4 */
    .n7-grid-4 {
        grid-template-columns: repeat(3, 1fr);
    }

    /* 3 */
    .n7-grid-3 {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media all and (max-width: $breakpoint-smartphone-landscape) {

    /* 4 */
    .n7-grid-4 {
        grid-template-columns: repeat(2, 1fr);
    }

    /* 3 */
    .n7-grid-3 {
        grid-template-columns: repeat(1, 1fr);
    }

    /* 2 */
    .n7-grid-2 {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media all and (max-width: $breakpoint-smartphone-portrait) {

    /* 4 */
    .n7-grid-4 {
        grid-template-columns: repeat(1, 1fr);
    }

}

/* Retina */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
}
