//
// COLOR SCHEME
//
// Here we define all colors used in components and project
//

// ------------------------------------ //
// #COLOR-SCHEME
// ------------------------------------ //
// Grayscale (background, borders, text)
$color-gray-00: #ffffff;
$color-gray-01: #fafbfc;
$color-gray-02: #f5f5f5;
$color-gray-03: #dddddd;
$color-gray-04: #ababab;
$color-gray-05: #262216;
$color-gray-06: #000000;

// Brand colors
$color-main: #2E5BFF;
$color-second: #8C54FF;
$color-third: #F5A623;
$color-text-hover: rgb(26, 64, 204); /* Used for text link in hover state */

// Status colors
$color-error: #D12C47;
$color-warning: #F5A623;
$color-success: #3F7600;