//
// VARIABLES
//
// Definition of all variables used by the components library
//

// ------------------------------------ //
// #SPACING-UNIT
// ------------------------------------ //
$space: 8px;


// ------------------------------------ //
// #SUSY
// ------------------------------------ //
/* stylelint-disable */
$susy: (
    'columns': susy-repeat(4),
    'gutters': 0.25,
    'spread': 'narrow',
    'container-spread': 'narrow',
);
/* stylelint-enable */


// ------------------------------------ //
// #LAYOUT
// ------------------------------------ //
$page-max-width: 1350px;

// ------------------------------------ //
// #GRIDS
// ------------------------------------ //
$grid-gutter-h: $space*3;
$grid-gutter-v: $space*2;


// ------------------------------------ //
// #FONTS
// ------------------------------------ //
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i');


// ------------------------------------ //
// TYPOGRAPHY
// ------------------------------------ //
$font-family-main: 'Lato', sans-serif;
$font-family-headings: 'Lato', sans-serif;

$font-size-xxxl: 38px; // 2.875rem; // 46px
$font-size-xxl: 30px; // 1.85rem; // 40px
$font-size-xl: 26px; // 1.425rem; // 26px
$font-size-l: 20px; // 1.25rem; // 20px
$font-size-m: 16px; // 1rem; // 16px
$font-size-s: 14px; // 0.875rem; // 14px
$font-size-xs: 12px; // 0.75rem; // 12px

// Font weight
$font-weight-normal: 400;
$font-weight-bold: 700;


// ------------------------------------ //
// COLORS
// ------------------------------------ //
// Text Colors
$color-text: $color-gray-06;
$color-text-inverse: $color-gray-00;
$color-text-light: $color-gray-04;
$color-text-link: $color-main;
$color-text-link-hover: $color-text-hover;
$color-text-link-visited: $color-text-hover;
$color-text-form-placeholder: $color-gray-04;

// Borders
$color-border-light: $color-gray-02;
$color-border-normal: $color-gray-03;

// Backgrounds
$color-background-base: $color-gray-00;
$color-background-light: $color-gray-00;
$color-background-medium: $color-gray-02;
$color-background-dark: $color-gray-03;


// ------------------------------------ //
// #MEDIA-QUERIES-BREAKPOINT
// ------------------------------------ //
$breakpoint-desktop-wide: 1180px;
$breakpoint-laptop: 960px;
$breakpoint-ipad-portrait: 768px;
$breakpoint-mobile: 650px;
$breakpoint-smartphone-landscape: 480px;
$breakpoint-smartphone-portrait: 400px;


// ------------------------------------ //
// #BORDER-RADIUS
// ------------------------------------ //
$border-radius: 3px;
$border-radius-hard: 8px;


// ------------------------------------ //
// #BUTTONS
// ------------------------------------ //
$button-border-width: 1px;
$button-border-radius: $border-radius;
$button-small-height: 24px;
$button-normal-height: 30px;
$button-large-height: 50px;

// Normal button
$color-button-text: $color-text-light;
$color-button-text-hover: $color-text-link;
$color-button-text-disabled: rgba($color-text, .4);

$color-button-bg: $color-gray-02;
$color-button-bg-hover: $color-gray-01;
$color-button-bg-disabled: $color-gray-01;

$color-button-border: $color-border-normal;
$color-button-border-hover: $color-border-normal;

// Call to action button
$color-button-cta-text: $color-text-inverse;
$color-button-cta-text-hover: $color-text-inverse;
$color-button-cta-text-disabled: rgba($color-text-inverse, .4);

$color-button-cta-bg: $color-main;
$color-button-cta-bg-hover: $color-text-hover;
$color-button-cta-bg-active: $color-text-hover;
$color-button-cta-bg-disabled: rgba($color-main, .4);

$color-button-cta-border: darken($color-main, 5); // $color-text-hover;

// Light button (no background or border, only text)
$color-button-light-text: $color-text-link;
$color-button-light-text-hover: $color-text-link-hover;
$color-button-light-text-disabled: $color-text-light;
$color-button-light-text-active: $color-text-link-hover;


// ------------------------------------ //
// #FORMS
// ------------------------------------ //
$form-input-height: 38px;
$form-input-small-height: 26px;
$form-border-radius: $border-radius;


// ------------------------------------ //
// #TRANSITIONS
// ------------------------------------ //
$transition-durations: 0.2s;


// ------------------------------------ //
// #HEADER
// ------------------------------------ //
$header-height: 80px;
$header-height-mobile: 60px;
$header-bg-color: $color-background-base;
$header-logo-height: $header-height - ($space*2);
$header-logo-height-mobile: $header-height-mobile - ($space*2);
$header-user-thumb-size: 50px;
$header-user-thumb-size-mobile: 38px;
$header-search-input-height: 36px;
$header-search-input-height-mobile: 28px;
$header-breakpoint-mobile: 1180px;
$header-breakpoint-mobile-small: 600px;


// ------------------------------------ //
// #LOADER
// ------------------------------------ //
$loader-size: 70px;
$loader-thickness: 5px;
$loader-color-front: $color-main;
$loader-color-back: rgba($color-main, .3);


// ------------------------------------ //
// #TABLE
// ------------------------------------ //
$table-border-color: $color-border-normal;
$table-border-size: 2px;
/* Header */
$table-header-font-size: $font-size-m;
$table-header-text-color: $color-text;
$table-header-bg: $color-background-medium;
/* Contents */
$table-font-size: $font-size-s;
$table-text-color: $color-text;
$table-bg-odd: $color-background-base;
$table-bg-even: $color-background-medium;
/* Footer */
$table-footer-font-size: $font-size-s;
$table-footer-text-color: $color-text-light;
$table-footer-bg: $color-background-medium;


// ------------------------------------ //
// #BREADCRUMBS
// ------------------------------------ //
$breadcrumbs-background: $color-background-light;
$breadcrumbs-arrow-color: $color-text-light;
$breadcrumbs-current-color: $color-text;
$breadcrumbs-arrow: '\e909';
$breadcrumbs-arrow-mobile: '\e908';


// ------------------------------------ //
// #PAGINATION
// ------------------------------------ //
$pagination-item-width: 40px;
$pagination-item-height: 40px;
$pagination-border: 1px solid $color-border-normal;
$pagination-background: $color-background-base;
$pagination-border-current: 0;
$pagination-background-current: $color-background-dark;
$pagination-radius: $border-radius;
$pagination-color: $color-text;
$pagination-color-hover: $color-text-link;
$pagination-color-disabled: $color-text-light;
$pagination-color-current: $color-text-inverse;


// ------------------------------------ //
// #ALERT
// ------------------------------------ //
$alert-background: $color-background-medium;
$alert-background-success: $color-success;
$alert-background-warning: $color-warning;
$alert-background-error: $color-error;
$alert-color-text: $color-text;
$alert-color-text-success: $color-text-inverse;
$alert-color-text-warning: $color-text-inverse;
$alert-color-text-error: $color-text-inverse;


// ------------------------------------ //
// #ITEM-PREVIEW
// ------------------------------------ //
$item-preview-image-width: 60px;
$item-preview-image-height: $item-preview-image-width;
$item-preview-height: 250px;


// ------------------------------------ //
// #HERO
// ------------------------------------ //
$hero-height: 500px;
$hero-content-width: 1140px;
$hero-background-color: $color-gray-05;

// ------------------------------------ //
// #WIZARD
// ------------------------------------ //
$wizard-height: 40px;
$wizard-number-circle-margin: 5px;
$wizard-past-bg-color: $color-main;
$wizard-past-number-bg-color: rgba($color-background-base, .2);
$wizard-past-text-color: $color-text-inverse;
$wizard-present-bg-color: $color-second;
$wizard-present-number-bg-color: rgba($color-background-base, .2);
$wizard-present-text-color: $color-text-inverse;
$wizard-future-bg-color: $color-background-medium;
$wizard-future-number-bg-color: rgba($color-background-dark, .4);
$wizard-future-text-color: $color-text;
$wizard-number-size: $font-size-s;
$wizard-text-size: $font-size-s;


// ------------------------------------ //
// #TREE
// ------------------------------------ //
$tree-image-size:28px;


// ------------------------------------ //
// #SIDEBAR-HEADER
// ------------------------------------ //
$sidebar-header-height: 44px;
$sidebar-header-background-color: $color-text;
$sidebar-header-text-color: $color-text-inverse;
$sidebar-left-background-color: $sidebar-header-background-color;
$sidebar-left-text-color: $sidebar-header-text-color;
$sidebar-right-background-color: $color-text-link;
$sidebar-right-text-color: $color-text-inverse;


// ------------------------------------ //
// #TOAST
// ------------------------------------ //
$toast-background-color: $color-background-medium;
$toast-border-size: 1px;
$toast-border-color: $color-border-normal;
$toast-title-color: $color-text;
$toast-text-color: $color-text;
$toast-max-width: 300px;


// ------------------------------------ //
// #ADVANCED-AUTOCOMPLETE
// ------------------------------------ //
$advanced-autocomplete-results-max-height: 300px;
$advanced-autocomplete-empty-height: 180px;
$advanced-autocomplete-action-bar-shadow: 0 -5px 15px -5px rgba(0, 0, 0, 0.3);


// ------------------------------------ //
// #FACET-HEADER
// ------------------------------------ //
$facet-header-text-color: $color-text-inverse;
$facet-header-background: $color-gray-05;
$facet-header-icon-background: $color-second;
$facet-header-height: 30px;


// ------------------------------------ //
// #FACET
// ------------------------------------ //
$facet-inner-padding: $space;
$facet-links-max-height: 200px;


// ------------------------------------ //
// #INNER-TITLE
// ------------------------------------ //
$inner-title-filters-height: $button-normal-height;


// ------------------------------------ //
// #IMAGE-VIEWER
// ------------------------------------ //
$image-viewer-height: 400px;
$image-viewer-thumb-height: 80px;
$image-viewer-thumb-width: 80px;
$image-viewer-control-height: 60px;
$image-viewer-control-width: 60px;
$image-viewer-background-color: $color-gray-05;
$image-viewer-thumb-active-border-color: $color-main;
$image-viewer-thumb-hover-border-color: $color-main;

// ------------------------------------ //
// #FOOTER
// ------------------------------------ //
$footer-image-height: 50px;