//
// VARIABLES
//
// Definition of all variables used by the components library
//

// ------------------------------------ //
// #SPACING-UNIT
// ------------------------------------ //
$space: 8px;


// ------------------------------------ //
// #SUSY
// ------------------------------------ //
/* stylelint-disable */
$susy: (
    'columns': susy-repeat(4),
    'gutters': 0.25,
    'spread': 'narrow',
    'container-spread': 'narrow',
);
/* stylelint-enable */


// ------------------------------------ //
// #GRIDS
// ------------------------------------ //
$grid-gutter-h: $space*3;
$grid-gutter-v: $space*2;


// ------------------------------------ //
// #FONTS
// ------------------------------------ //
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900');


// ------------------------------------ //
// TYPOGRAPHY
// ------------------------------------ //
$font-family-main: 'Lato', sans-serif;
$font-family-headings: 'Lato', sans-serif;

$font-size-xxxl: 38px; // 2.875rem; // 46px
$font-size-xxl: 30px; // 1.85rem; // 40px
$font-size-xl: 26px; // 1.425rem; // 26px
$font-size-l: 20px; // 1.25rem; // 20px
$font-size-m: 16px; // 1rem; // 16px
$font-size-s: 14px; // 0.875rem; // 14px
$font-size-xs: 12px; // 0.75rem; // 12px

// Font weight
$font-weight-normal: 400;
$font-weight-bold: 700;


// ------------------------------------ //
// COLORS
// ------------------------------------ //
// Text Colors
$color-text: $color-gray-06;
$color-text-inverse: $color-gray-00;
$color-text-light: $color-gray-04;
$color-text-link: $color-main;
$color-text-link-hover: $color-text-hover;
$color-text-link-visited: $color-text-hover;
$color-text-form-placeholder: $color-gray-04;

// Borders
$color-border-light: $color-gray-02;
$color-border-normal: $color-gray-03;

// Backgrounds
$color-background-base: $color-gray-00;
$color-background-light: $color-gray-00;
$color-background-medium: $color-gray-02;
$color-background-dark: $color-gray-03;


// ------------------------------------ //
// #MEDIA-QUERIES-BREAKPOINT
// ------------------------------------ //
$breakpoint-desktop-wide: 1180px;
$breakpoint-laptop: 960px;
$breakpoint-ipad-portrait: 768px;
$breakpoint-smartphone-landscape: 480px;
$breakpoint-smartphone-portrait: 400px;


// ------------------------------------ //
// #BORDER-RADIUS
// ------------------------------------ //
$border-radius: 3px;
$border-radius-hard: 8px;


// ------------------------------------ //
// #BUTTONS
// ------------------------------------ //
$button-border-width: 1px;
$button-border-radius: $border-radius;
$button-small-height: 24px;
$button-normal-height: 30px;
$button-large-height: 50px;

// Normal button
$color-button-text: $color-text-light;
$color-button-text-hover: $color-text-link;
$color-button-text-disabled: rgba($color-text, .4);

$color-button-bg: $color-gray-02;
$color-button-bg-hover: $color-gray-01;
$color-button-bg-disabled: $color-gray-01;

$color-button-border: $color-border-normal;
$color-button-border-hover: $color-border-normal;

// Call to action button
$color-button-cta-text: $color-text-inverse;
$color-button-cta-text-hover: $color-text-inverse;
$color-button-cta-text-disabled: rgba($color-text-inverse, .4);

$color-button-cta-bg: $color-main;
$color-button-cta-bg-hover: $color-text-hover;
$color-button-cta-bg-active: $color-text-hover;
$color-button-cta-bg-disabled: rgba($color-main, .4);

$color-button-cta-border: darken($color-main, 5); // $color-text-hover;

// Light button (no background or border, only text)
$color-button-light-text: $color-text-link;
$color-button-light-text-hover: $color-text-link-hover;
$color-button-light-text-disabled: $color-text-light;
$color-button-light-text-active: $color-text-link-hover;

// ------------------------------------ //
// #FORMS
// ------------------------------------ //
$form-input-height: 38px;
$form-input-small-height: 26px;
$form-border-radius: $border-radius;


// ------------------------------------ //
// #TRANSITIONS
// ------------------------------------ //
$transition-durations: 0.2s;


// ------------------------------------ //
// #LOADER
// ------------------------------------ //
$loader-size: 70px;
$loader-thickness: 5px;
$loader-color-front: $color-main;
$loader-color-back: rgba($color-main, .3);


// ------------------------------------ //
// #TABLE
// ------------------------------------ //
$table-border-color: $color-border-normal;
$table-border-size: 2px;
/* Header */
$table-header-font-size: $font-size-m;
$table-header-text-color: $color-text;
$table-header-bg: $color-background-medium;
/* Contents */
$table-font-size: $font-size-s;
$table-text-color: $color-text;
$table-bg-odd: $color-background-base;
$table-bg-even: $color-background-medium;
/* Footer */
$table-footer-font-size: $font-size-s;
$table-footer-text-color: $color-text-light;
$table-footer-bg: $color-background-medium;


// ------------------------------------ //
// #BREADCRUMBS
// ------------------------------------ //
$breadcrumbs-background: $color-background-light;
$breadcrumbs-arrow-color: $color-text-light;
$breadcrumbs-current-color: $color-text;
$breadcrumbs-arrow: '\e909';
$breadcrumbs-arrow-mobile: '\e908';