/**
 * GLOBAL
 *
 * Global styles, tags and common classes
 */

// TODO: Decide if we want to style the "body" level and if we want to differentiate between the embed and standalone usage.

/* ------------------------------------ *\
   #TAGS
\* ------------------------------------ */

html, body {
    // height: 100%;
    // margin: 0;
    // font-size: 16px;
}

body {
    // box-sizing: border-box;
    // background-color: $color-background-base;
    // color: $color-text;
    font-family: $font-family-main;
    // font-size: 16px;
    // letter-spacing: 0.02rem;
    // -webkit-font-smoothing: antialiased;
}

:focus {
    outline: 0;
}


/* ------------------------------------ *\
   #GRID
\* ------------------------------------ */
.n7dash-row {
    &:after {
        content: " ";
        display: block;
        clear: both;
    }
}

/* 2 columns */
.n7dash-2column {
    width: span(6 of 12);
    margin-right: gutter(of 12);
    float: left;

    &:last-child {
        margin-right: 0;
    }
}

/* 3 columns */
.n7dash-3column {
    width: span(4 of 12);
    margin-right: gutter(of 12);
    float: left;

    &:last-child {
        margin-right: 0;
    }
}

/* 4 columns */
.n7dash-4column {
    width: span(3 of 12);
    margin-right: gutter(of 12);
    float: left;

    &:last-child {
        margin-right: 0;
    }
}

canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */

@media all and (max-width: $breakpoint-laptop) {
}

@media all and (max-width: $breakpoint-ipad-portrait) {
}

@media all and (max-width: $breakpoint-smartphone-landscape) {
}

/* Retina */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
}
