/**
 * IMAGE-VIEWER
 *
 * Image viewer component based on OpenSeaDragon.
 * The component includes a thumb preview tool and
 * native controls for zoomin zoomout home and fullscreen.
 */
 
/* ------------------------------------ *\
   #IMAGE-VIEWER
\* ------------------------------------ */
.n7-image-viewer {
    position: relative;
    background-color: $image-viewer-background-color;

    &__viewer {
        height: $image-viewer-height;
    }
}


/* ------------------------------------ *\
   #THUMBS
\* ------------------------------------ */
.n7-image-viewer {
    &__thumbs {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: $space*3;
    }

    &__thumb-list {
        list-style: none;
    }

    &__thumb-item {
        width: $image-viewer-thumb-width !important;
        height: $image-viewer-thumb-height !important;
        margin-bottom: $space;
        background-size: cover;
        background-position: center center;
        background-repeat: none;
        border: 2px solid transparent;
        cursor: pointer;

        &:last-child {
            margin-bottom: 0;
        }

        &:hover:not(.is-active) {
            border: 2px solid $image-viewer-thumb-hover-border-color;
        }

        &.is-active {
            border: 2px solid $image-viewer-thumb-active-border-color;
        }
    }
}


/* ------------------------------------ *\
   #CONTROLS
\* ------------------------------------ */
/* This is very delicate:
we point the last DIV inside .openseadragon-container,
so if the configuration is changed and the last DIV changes, the whole CONTROLS
style will be broken */
.n7-image-viewer__viewer {
    .openseadragon-container {
        > div:last-child {
            position: absolute !important;
            top: 50% !important;
            transform: translateY(-50%) !important;
            left: $space*3 !important;

            [title="Zoom in"],
            [title="Zoom out"],
            [title="Go home"],
            [title="Toggle full page"] {
                display: block !important;
                margin-bottom: $space !important;
                cursor: pointer;
            }

            img {
                display: block;
                width: $image-viewer-control-width;
                height: $image-viewer-control-height;
            }
        }
    }
}


/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (max-width: $breakpoint-laptop) {
}

@media all and (max-width: $breakpoint-ipad-portrait) {
}

@media all and (max-width: $breakpoint-smartphone-landscape) {
}

/* Retina */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
}