/**
 * ITEM-PREVIEW
 *
 * Component used to preview any kind of element with image, title, text, metadata and icons.
 */
 
/* ------------------------------------ *\
   #ITEM-PREVIEW
\* ------------------------------------ */
.n7-item-preview {
    cursor: pointer;
    position: relative;
    
    &__title {
        margin-bottom: $space;
        font-family: $font-family-headings;
        font-size: $font-size-l;
        font-weight: $font-weight-bold;
        color: $color-text;
    }

    &__text {
        margin-bottom: $space;
        font-family: $font-family-main;
        font-size: $font-size-s;
        font-weight: $font-weight-normal;
        color: $color-text;
    }
    
    /* Metadata */
    &__metadata-group {
        margin-bottom: $space;
    }

    &__metadata-group-title {
        margin-bottom: $space;
    }

    &__metadata-item {
        display: inline-block;
        margin-right: $space;

        &:last-child {
            margin-right: 0;
        }
    }

    &__metadata-item-icon {
        margin-right: $space/2;
    }

    &__metadata-item-label {
        font-family: $font-family-main;
        font-size: $font-size-s;
        font-weight: $font-weight-normal;
        vertical-align: top;
    }

    &__metadata-item-value {
        font-family: $font-family-main;
        font-size: $font-size-s;
        font-weight: $font-weight-bold;
        vertical-align: top;
    }
}


/* ------------------------------------ *\
   #HAS-IMAGE
\* ------------------------------------ */
.n7-item-preview.has-image {
    display: grid;
    grid-template-columns: $item-preview-image-width 1fr;
    grid-column-gap: $space*2;
    
    .n7-item-preview__image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: $item-preview-image-width;
        height: $item-preview-image-height;
    }
}


/* ------------------------------------ *\
   #IS-VERTICAL
\* ------------------------------------ */
.n7-item-preview.is-vertical.has-image {
    display: block;
    
    .n7-item-preview__image {
        margin-bottom: $space;
        width: 100%;
        height: $item-preview-image-height;
        background-repeat: no-repeat;
        background-size: cover;
    }
}


/* ------------------------------------ *\
   #IS-OVERLAY
\* ------------------------------------ */
.n7-item-preview.is-overlay.has-image {
    display: block;
    height: $item-preview-height;
    
    .n7-item-preview__image {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto;
        height: auto;
        z-index: 1;

        &:after {
            content: " ";
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0,0,0,0.5);
        }
    }

    .n7-item-preview__content {
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .n7-item-preview__title,
    .n7-item-preview__text,
    .n7-item-preview__metadata-group-title {
        text-align: center;
        color: $color-text-inverse;
    }

    .n7-item-preview__metadata-group {
        text-align: center;
    }

    .n7-item-preview__metadata-item-icon,
    .n7-item-preview__metadata-item-label,
    .n7-item-preview__metadata-item-value {
        color: $color-text-inverse;
    }
}

/* ------------------------------------ *\
   #HOVER
\* ------------------------------------ */
.n7-item-preview:hover {
    .n7-item-preview__title {
        color: $color-text-link;
    }
}


/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (max-width: $breakpoint-laptop) {
}

@media all and (max-width: $breakpoint-ipad-portrait) {
}

@media all and (max-width: $breakpoint-smartphone-landscape) {
}

/* Retina */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
}