/* ------------------------------------ *\
   #LIST
\* ------------------------------------ */
.n7-component-list {
  list-style: none;
  margin: 0;
  padding: 0;

  .n7-component-list__item {
    display: flex;
    border-radius: $border-radius;
    background-color: $color-background-base;
    padding: $spacing-unit;
    align-items: center;

    .n7-component-list__item-left,
    .n7-component-list__item-body,
    .n7-component-list__item-right {
      display: flex;
      flex-grow: 1;
      flex-wrap: nowrap;
      align-content: stretch;
      width: 100%;
    }
  }
}

/* ------------------------------------ *\
   #SIZES
\* ------------------------------------ */


/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */

@media all and (max-width: $breakpoint-laptop) {
}

@media all and (max-width: $breakpoint-ipad-portrait) {
}

@media all and (max-width: $breakpoint-smartphone-landscape) {
}

/* Retina */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
}