/**
 * PAGINATION
 *
 * Common pagination component used at the bottom of lists and feeds.
 */
 
/* ------------------------------------ *\
   #PAGINATION
\* ------------------------------------ */
.n7-pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    &__items {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__items {
        > li {
            margin-left: $space/2;
            margin-right: $space/2;
            user-select: none;
            
            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__first-link, &__prev-link, &__page-link, &__next-link, &__last-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $pagination-item-width;
        height: $pagination-item-height;
        border: $pagination-border;
        box-sizing: border-box;
        background-color: $pagination-background;
        border-radius: $pagination-radius;
        cursor: pointer;
        color: $pagination-color;

        &:hover {
            color: $pagination-color-hover;
        }
    }

    /* Special spacing and width for first, prev, next, last with text */
    &__first-link, &__prev-link {
        &.has-text {
            width: auto;
            padding: 0 $space*1.5 0 $space/2;
        }
    }

    &__next-link, &__last-link {
        &.has-text {
            width: auto;
            padding: 0 $space/2 0 $space*1.5;
        }
    }

    &__first-link, &__prev-link, &__next-link, &__last-link {
        font-size: $font-size-l;
    }

    /* Text labels for text in first, prev, next, last */
    &__first-label, &__prev-label, &__next-label, &__last-label {
        font-size: $font-size-s;
    }

    &__page-link {
        font-size: $font-size-m;
    }

    /* Modifiers */
    .is-disabled {
        .n7-pagination__first-link,
        .n7-pagination__prev-link,
        .n7-pagination__page-link,
        .n7-pagination__next-link,
        .n7-pagination__last-link {
            color: $pagination-color-disabled;
            cursor: not-allowed;
        }
    }

    .is-active {
        .n7-pagination__page-link {
            border: $pagination-border-current;
            background-color: $pagination-background-current;
            color: $pagination-color-current;
            cursor: default;
        }
    }
}


/* ------------------------------------ *\
   #HIDDEN-ICONS
\* ------------------------------------ */
/*
if class .has-hidden-icons is added to the root element, icons for first, previous,
next and last are hidden.
*/
.n7-pagination.has-hidden-icons {
    .n7-pagination__first-link,
    .n7-pagination__prev-link, 
    .n7-pagination__next-link, 
    .n7-pagination__last-link {
        [class*=" n7-icon-"] {
            display: none;
        }

        &.has-text {
            padding: 0 $space*1.5 0 $space*1.5;
        }
    }
}


/* ------------------------------------ *\
   #WITH-RESULTS-NUMBER-SELECT
\* ------------------------------------ */
.n7-pagination.has-results-select {
    display: flex;
    justify-content: space-between;
}


/* ------------------------------------ *\
   #RESULTS-NUMBER-SELECT
\* ------------------------------------ */
.n7-pagination {
    &__setting-select {
        margin-left: $space;
    }
}


/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (max-width: $breakpoint-laptop) {
}

@media all and (max-width: $breakpoint-ipad-portrait) {
}

@media all and (max-width: $breakpoint-smartphone-landscape) {

    .n7-pagination {
        &__page {
            display: none;
        }
    }

}

/* Retina */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
}