/**
 * WIDGETS
 *
 * Standard and generic style for widgets
 */

/* ------------------------------------ *\
   #WIDGETS
\* ------------------------------------ */

.n7dash-widget {
    display: flex;
    flex-direction: column;
    // padding: $spacing-unit;
    margin-bottom: $spacing-unit*2;
    background-color: $color-background-base;
    border-radius: $border-radius;
    box-shadow: 0 30px 30px -20px rgba(0,0,0,0.10);
    font-family: $font-family-main;

    /* Header */
    .n7dash-widget__header {
        display: flex;
        flex-wrap: nowrap;
        align-content: stretch;
        width: 100%;
    }

    .n7dash-widget__title-wrapper {
        flex-grow: 1;
        padding: $spacing-unit $spacing-unit*2;
    }

    .n7dash-widget__title {
        margin: 0;
        padding: 0;
        font-size: $font-size-l;
        font-weight: $font-weight-bold;
    }

    .n7dash-widget__tools-wrapper {
        flex-shrink: 0;
    }

    .n7dash-widget__tool {
        display: inline-block;
        height: 30px;
        padding: 0 $spacing-unit;
        color: $color-text-inverse;
        font-weight: $font-weight-bold;
        background-color: $color-background-medium;
        text-transform: uppercase;
        font-size: $font-size-xs;
        font-family: $font-family-main;
        line-height: 30px;
        background-repeat: no-repeat;
        background-position: $spacing-unit/1.5 center;
        background-size: $spacing-unit*1.5 auto;

        &:hover, &.action-is-active {
            cursor: pointer;
            background-color: $color-text-link;
        }

        &:first-child {
            border-bottom-left-radius: $border-radius;
        }

        &:last-child {
            border-top-right-radius: $border-radius;
        }
        i{
          padding-right: $spacing-unit/2;
          font-size: $font-size-xs;
        }
    }

    /* Content */
    .n7dash-widget__content {
        display: flex;
        flex-grow: 1;
        padding: 0 $spacing-unit $spacing-unit $spacing-unit;
    }
}


/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */

@media all and (max-width: $breakpoint-laptop) {
}

@media all and (max-width: $breakpoint-ipad-portrait) {
}

@media all and (max-width: $breakpoint-smartphone-landscape) {
}

/* Retina */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
}
